{% extends 'base.html.twig' %}

{% set head_title = 'Главная' %}

{% set head_description = '' %}

{% block content %}

    <div id="files">

        <span class="preloader">converting...</span>

        <div id="file-container"></div>
    </div>

{% endblock %}